@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Alata', sans-serif;

// mixins

$color-white: #ffffff;
$color-black: #000000;
$color-dark-gray: hsl(0, 0%, 55%);
$color-very-dark-gray: hsl(0, 0%, 41%);

@mixin small {
  @media only screen and (min-width: 500px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin desktopl {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin desktopxl {
  @media only screen and (min-width: 1400px) {
    @content;
  }
}

/* Sometimes helpful, just in case */
@mixin small_laptop_custom {
  @media only screen and (min-width: 768px) and (max-height: 700px) {
    @content;
  }
}

// End mixins

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Josefin Sans";
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

img {
  max-width: 100%;
}

section {
  min-height: 500px;
}

a {
  font-family: "Alata", sans-serif;
  color: white;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin-inline: auto;

  @include desktop {
    width: 80%;
  }
}

section.hero {
  height: 100vh;
  min-height: 500px;
  position: relative;

  .header {
    position: absolute;
    color: white;
    width: 100%;
    z-index: 2;

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      max-width: 1400px;
      margin-inline: auto;
      padding: 2em 0;

      font-weight: 400;

      @include desktop {
        width: 80%;
      }
    }

    .header-logo {
      width: 125px;

      @include desktop {
        width: 300px;
      }
    }

    .nav-list ul {
      display: none;

      @include desktop {
        display: flex;
        flex-direction: row;
        gap: 2em;
      }
    }

    .hamburger {
      cursor: pointer;

      @include desktop {
        display: none;
      }
    }
  }

  .hero-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .hero-text {
    position: absolute;
    height: 100%;
    width: 90%;
    max-width: 1400px;
    margin-inline: auto;
    inset: 0;
    display: grid;
    align-items: center;

    @include desktop {
      width: 80%;
    }

    h1 {
      color: white;
      text-transform: uppercase;
      border: 3px solid white;
      padding: 1em;
      font-size: 10vw;
      font-weight: 300;
      width: 100%;
      margin-inline: auto;

      @include desktop {
        font-size: 5rem;
        margin-inline: initial;
        max-width: 750px;
      }
    }
  }
}

section.interactive {
  padding: 6em 0;
  margin-inline: auto;

  @include desktop {
    padding: 12em 0;
  }
}

.interactive-grid {
  @include desktop {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    width: 100%;
  }
}

.interactive-img-container,
.interactive-copy-container {
  grid-row: 1 / 2;
}

.interactive-img-container {
  grid-column: 1 / 5;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.interactive-copy-container {
  grid-column: 4 / -1;
  align-self: flex-end;
  background-color: white;

  @include desktop {
    padding-top: 6em;
    padding-left: 6em;
  }

  .section-header {
    padding-bottom: 1em;
  }
}

.section-header {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1em 0;

  @include desktop {
    text-align: left;
    padding: 0;
  }

  @include desktopl {
    font-size: 2.75rem;
  }

  @include desktopxl {
    font-size: 3.5rem;
  }
}

.section-para {
  line-height: 1.75em;
  text-align: center;
  color: $color-dark-gray;
  font-family: "Alata", sans-serif;

  @include desktop {
    text-align: left;
  }
}

.see-all-btn {
  background-color: white;
  border: 1px solid black;
  text-transform: uppercase;
  padding: 1em 3em;
  display: block;
  margin-inline: auto;
  letter-spacing: 5px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  font-family: "Alata", sans-serif;

  @include desktop {
    margin-inline: 0;
    padding: 1em 4em;
  }

  &:hover {
    background-color: black;
    color: white;
  }
}

section.creations {
  padding-bottom: 7em;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  margin-bottom: 3em;

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .tile {
    width: 100%;
    position: relative;
    cursor: pointer;

    .overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      inset: 0;
      transition: all 0.5s ease;
      background: linear-gradient(
        260deg,
        rgba(255, 255, 255, 0) 50%,
        rgba(0, 0, 0, 1) 100%
      );

      @include desktop {
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 50%,
          rgba(0, 0, 0, 1) 100%
        );
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.5s ease;
    }

    .creation-name {
      position: absolute;
      bottom: 10%;
      left: 5%;
      color: white;
      text-transform: uppercase;
      font-size: 1.5rem;
      z-index: 3;
      transition: all 0.5s ease;

      @include desktop {
        left: 10%;
      }

      @include desktopxl {
        font-size: 2rem;
      }
    }

    &:hover {
      img {
        opacity: 0.5;
      }

      .overlay {
        display: none;
      }

      .creation-name {
        color: #000000;
      }
    }
  }
}

.mobile-see-all-btn {
  @include desktop {
    display: none;
  }
}

.desktop-see-all-btn {
  display: none;

  @include desktop {
    display: inline-block;
  }
}

.creations-header {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include desktop {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6em;
  }
}

// Footer

footer {
  background-color: black;
  color: white;
  padding: 4em 0;

  .main-footer-flex {
    display: flex;
    flex-direction: column;
    gap: 3em;

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
    }

    .main-flex-child {
      display: flex;
      flex-direction: column;
      gap: 1em;

      .footer-logo {
        width: 125px;
        margin-bottom: 1em;
        margin-inline: auto;

        @include desktop {
          margin: 0;
        }
      }

      .footer-nav-ul-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;

        @include desktop {
          flex-direction: row;
        }
      }

      .footer-socials-flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        gap: 1em;

        @include desktop {
          justify-content: flex-end;
        }
      }
    }
  }

  .copyright {
    text-align: center;
    color: $color-dark-gray;
    font-family: "Alata", sans-serif;
  }
}

.underline:after {
  display: block;
  content: "";
  border-bottom: solid 2px white;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.underline:hover:after {
  transform: scaleX(1);
}

.mobile-menu {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100%;
  background-color: black;
  z-index: 10;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;

  @include desktop {
    display: none;
  }

  &.open {
    transform: translateY(0);
  }

  .header {
    position: absolute;
    color: white;
    width: 100%;
    z-index: 2;

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      max-width: 1400px;
      margin-inline: auto;
      padding: 2em 0;

      font-weight: 400;

      @include desktop {
        width: 80%;
      }
    }

    .header-logo {
      width: 125px;

      @include desktop {
        width: 300px;
      }
    }

    .nav-list ul {
      display: none;

      @include desktop {
        display: flex;
        flex-direction: row;
        gap: 2em;
      }
    }

    .icon-close {
      cursor: pointer;

      @include desktop {
        display: none;
      }
    }
  }
}

.mobile-menu-nav-list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin-inline: auto;

  li {
    display: block;
  }

  a {
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
    display: block;
    margin: 1em 0;
    text-transform: uppercase;
  }
}
